.container-galerie-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    cursor: pointer;
}
.card-galerie-2{
    width: 400px;
    height: 400px;
    transform: translateY(10rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.card-img-galerie-2{
    border-radius: 50% !important;
}
.card-img-galerie-2 img{
    width: 400px;
    height: 400px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.9);
    border-radius: 50% !important;
}
.card-galerie-2:nth-child(2){
   transform: scale(.8);
   margin-top: 5rem;
   margin-left: -10rem;
}
.card-galerie-2:nth-child(3){
    transform: scale(.6);
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(4){
    transform: scale(.9);
    margin-top: 7rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(5){
    transform: scale(1.2);
    margin-top: 10rem;
    margin-left: -5rem;
 }
 .card-galerie-2:nth-child(6){
    transform: scale(.8);
    margin-top: -10rem;
 }
 .card-galerie-2:nth-child(7){
    transform: scale(.9);
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(8){
    transform: scale(1.1);
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(9){
    transform: scale(.8);
    margin-left: -8rem;
 }
 .card-galerie-2:nth-child(10){
    margin-top: -10rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(11){
    transform: scale(.8);
    margin-bottom: -20rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(12){
    transform: scale(1.2);
    margin-left: 80rem;
    margin-top: 5rem;
 }
 .card-galerie-2:nth-child(13){
    transform: scale(1.1);
    margin-top: -30rem;
    margin-left: 60rem;
 }
 .card-galerie-2:nth-child(14){
    transform: scale(.8);
    margin-top: -40rem;
    margin-left: -45rem;
 }
 .card-galerie-2:nth-child(15){
    transform: scale(.9);
    margin-top: -50rem;
    margin-left: -45rem;
 }
 .card-galerie-2:nth-child(16){
    margin-top: -80rem;
    margin-left: -45rem;
 }
 .card-galerie-2:nth-child(17){
    transform: scale(1.1);
    margin-top: -15rem;
    margin-left: -30rem;
 }
 .card-galerie-2:nth-child(18){
    transform: scale(.6);
    margin-top: -2rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(19){
    transform: scale(.8);
    margin-bottom: -5rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(20){
    margin-bottom: -10rem;
    margin-left: -10rem;
 }
 
 .card-galerie-2:nth-child(21){
    transform: scale(1.2);
    margin-bottom: -40rem;
 }
  .card-galerie-2:nth-child(22){
    transform: scale(.8);
    margin-top: 20rem;
    margin-left: 80rem;
 }
 .card-galerie-2:nth-child(23){
    transform: scale(1.1);
    margin-top: -10rem;
    margin-left: 55rem;
 }
 .card-galerie-2:nth-child(24){
    transform: scale(1.2);
    margin-top: -80rem;
    margin-left: 48rem;
 }
 .card-galerie-2:nth-child(25){
    margin-top: -130rem;
   margin-left: -48rem;
 }
 .card-galerie-2:nth-child(26){
    transform: scale(.6);
    margin-left: -40rem;
    margin-top: -130rem;
 }
 .card-galerie-2:nth-child(27){
    transform: scale(.8);
    margin-top: -110rem;
    margin-left: -40rem;
 }
 .card-galerie-2:nth-child(28){
    transform: scale(.6);
    margin-top: -80rem;
    margin-left: -30rem;
 }
 .card-galerie-2:nth-child(29){
    transform: scale(.8);
    margin-top: -60rem;
    margin-left: -12rem;
 }
 .card-galerie-2:nth-child(30){
    transform: scale(.9);
    margin-top: -32rem;
    margin-right: 25rem;
    margin-left: -10rem;
 }
 .card-galerie-2:nth-child(31){
    margin-top: -20rem;
    margin-left: -40rem;
 }
 .card-galerie-2:nth-child(32){
    transform: scale(1.2);
    margin-top: 10rem;
 }
 .card-galerie-2:nth-child(33){
    transform: scale(1);
 }
 .card-galerie-2:nth-child(34){
    transform: scale(.8);
    margin-left: 90rem;
    margin-top: -10rem;
 }
 .card-galerie-2:nth-child(35){
    transform: scale(.6);
    margin-left: 80rem;
    margin-top: -10rem;
 }
 .card-galerie-2:nth-child(36){
    transform: scale(.9);
    margin-left: 70rem;
    margin-top: -18rem;
    margin-right: 20rem;
 }
 .card-galerie-2:nth-child(37){
    transform: scale(.6);
    margin-left: 69rem;
    margin-top: -40rem;
    margin-right: 45rem;
 }
 .card-galerie-2:nth-child(38){
    transform: scale(.9);
    margin-right: 90rem;
    margin-top: -50rem;
    margin-left: 80rem;
 }
 .card-galerie-2:nth-child(39){
    transform: scale(1.1);
    margin-top: -90rem;
    margin-left: 15rem;
    margin-right: -35rem;
 } 
 .card-galerie-2:nth-child(40){
    transform: scale(1.2);
    margin-top: -40rem;
    margin-right: 30rem;
 } 
 .card-galerie-2:nth-child(41){
    transform: scale(.9);
    margin-top: -10rem;
    margin-left: -35rem;
 } 
 .card-galerie-2:nth-child(42){
    transform: scale(.6);
    margin-top: 10rem;
    margin-right: 10rem;
    margin-left: -13rem;
 } 
 .card-galerie-2:nth-child(43){
    transform: scale(1.1);
    margin-left: -15rem;
    margin-right: 20rem;
 } 
 .card-galerie-2:nth-child(44){
    transform: scale(.9);
    margin-top: -50rem;
    margin-left: 80rem;
 } 
 .card-galerie-2:nth-child(45){
    transform: scale(.7);
    margin-top: -20rem;
    margin-left: 85rem;
 } 
 .card-galerie-2:nth-child(46){
    transform: scale(.6);
    margin-top: -12rem;
    margin-left: 80rem;
 } 
 .card-galerie-2:nth-child(47){
    transform: scale(.9);
    margin-top: -30rem;
    margin-left: 69rem;
    margin-right: 18rem;
    margin-bottom: -20rem;
 } 
 .card-galerie-2:nth-child(48){
    transform: scale(1);
    margin-top: -25rem;
    margin-left: 40rem;
    margin-right: 25rem;
 } 
 .card-galerie-2:nth-child(49){
    transform: scale(1.1);
    margin-top: -30rem;
    margin-right: 60rem;
    margin-left: 30rem;
 } 
 .card-galerie-2:nth-child(50){
    transform: scale(.6);
    margin-top: -30rem;
    margin-right: 70rem;
 } 
 .card-galerie-2:nth-child(51){
    transform: scale(.9);
    margin-top: -15rem;
    margin-right: 85rem;
 } 
 .card-galerie-2:nth-child(52){
    transform: scale(1.2);
    margin-top: -5rem;
    margin-right: 80rem;
 } 
 .card-galerie-2:nth-child(53){
    transform: scale(.7);
    margin-top: -25rem;
    margin-right: 70rem;
    margin-left: 30rem;
 } 
 .card-galerie-2:nth-child(54){
    transform: scale(.6);
    margin-top: -40rem;
    margin-right: 70rem;
    margin-left: 55rem;
 } 
 .card-galerie-2:nth-child(55){
    transform: scale(1);
    margin-top: -35rem;
    margin-right: 50rem;
    margin-left: 70rem;
 } 
 .card-galerie-2:nth-child(56){
    transform: scale(.9);
    margin-top: -20rem;
    margin-left: 70rem;
    margin-right: 15rem;
 } 
 .card-galerie-2:nth-child(57){
    transform: scale(.7);
    margin-top: -20rem;
    margin-left: 85rem;
 } 
 .card-galerie-2:nth-child(58){
    transform: scale(1.2);
    margin-top: -5rem;
    margin-left: 80rem;
 } 
 .card-galerie-2:nth-child(59){
    transform: scale(.6);
    margin-top: -30rem;
    margin-left: 65rem;
    margin-right: 30rem;
 } 
 .card-galerie-2:nth-child(60){
    transform: scale(.8);
   margin-right: 65rem;
    margin-top: -40rem;
    margin-left: 70rem;
 } 
 .card-galerie-2:nth-child(61){
    transform: scale(.9);
    margin-top: -40rem;
    margin-left: 25rem;
    margin-right: 60rem;
 } 
 .card-galerie-2:nth-child(62){
    transform: scale(1);
    margin-top: -20rem;
    margin-left: 5rem;
    margin-right: 75rem;
 } 
 .card-galerie-2:nth-child(63){
    transform: scale(.7);
    margin-top: -10rem;
    margin-right: 60rem;
 } 
 .card-galerie-2:nth-child(64){
    transform: scale(1.2);
    margin-top: -20rem;
    margin-left: 30rem;
    margin-right: 20rem;
 } 
 .card-galerie-2:nth-child(65){
    transform: scale(.7);
    margin-top: -50rem;
    margin-right: 2rem;
    margin-left: 20rem;
 } 
 .card-galerie-2:nth-child(66){
    transform: scale(1);
    margin-top: -20rem;
    margin-left: 20rem;
    margin-right: 5rem;
 } 
 .card-galerie-2:nth-child(67){
    transform: scale(.6);
    margin-top: -15rem;
    margin-left: 90rem;
 }
 .card-galerie-2:nth-child(68){
    transform: scale(.8);
    margin-top: -12rem;
    margin-left: 75rem;
 }
 .card-galerie-2:nth-child(69){
    transform: scale(.7);
    margin-top: -25rem;
    margin-left: 66rem;
    margin-right: 25rem;
 } 
 .card-galerie-2:nth-child(70){
    transform: scale(.9);
    margin-top: -28rem;
    margin-left: 40rem;
    margin-right: 35rem;
 } 
 .card-galerie-2:nth-child(71){
    transform: scale(.7);
    margin-top: -50rem;
    margin-left: 25rem;
    margin-right: 50rem;
 } 
 .card-galerie-2:nth-child(72){
    transform: scale(1);
    margin-top: -50rem;
    margin-right: 75rem;
    margin-left: 10rem;
 }   
 .card-galerie-2:nth-child(73){
    transform: scale(1.1);
    margin-right: 70rem;
    margin-top: -15rem;
 } 
 .card-galerie-2:nth-child(74){
    transform: scale(.7);
    margin-right: 70rem;
    margin-left: 40rem;
    margin-top: -20rem;
 } 
 .card-galerie-2:nth-child(75){
    transform: scale(.6);
    margin-top: -20rem;
    margin-left: 40rem;
    margin-right: 45rem;
 } 
 .card-galerie-2:nth-child(76){
    transform: scale(.9);
    margin-left: 50rem;
    margin-top: -20rem;
 } 
 .card-galerie-2:nth-child(77){
    transform: scale(1.2);
    margin-top: -20rem;
 } 
 .card-galerie-2:nth-child(78){
    transform: scale(.7);
    margin-left: 70rem;
    margin-top:-5rem;
 } 
 .card-galerie-2:nth-child(79){
    transform: scale(.6);
    margin-top: -20rem;
    margin-left: 45rem;
 } 
 .card-galerie-2:nth-child(80){
    transform: scale(.9);
    margin-left: 40rem;
    margin-top: -25rem;
    margin-right: 30rem;
 } 
 .card-galerie-2:nth-child(81){
    transform: scale(.6);
    margin-top: -50rem;
    margin-left: 30rem;
    margin-right: 48rem;
 } 
 .card-galerie-2:nth-child(82){
    transform: scale(1.2);
    margin-top: -50rem;
    margin-left: 10rem;
    margin-right: 70rem;
 } 
 .card-galerie-2:nth-child(83){
    transform: scale(1);
    margin-top: -15rem;
    margin-right: 50rem;
    margin-left: -5rem;
 } 
 .card-galerie-2:nth-child(84){
    transform: scale(.8);
    margin-top: -18rem;
    margin-right: 40rem;
    margin-left: 22rem;
 } 
 .card-galerie-2:nth-child(85){
    transform: scale(1.2);
    margin-top: -30rem;
    margin-left: 50rem;
 } 
 .card-galerie-2:nth-child(86){
    margin-top: -20rem;
    margin-bottom: 20rem;
 } 





 

 
