.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 80px;
    background: black;
    box-shadow: 0 10px 10px rgba(60, 60, 60, 0.5);
    position:fixed;
    width: 100%;
    z-index: 1;
}
.header-logo img{
    display: block !important;
    height: 80px;
    width: 130px;
    margin-left: 50%;
}
.link{
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
}
.icon{
    font-size: 30px;
    color: white;
}

@media (max-width: 500px){
    .header-logo img{
        display: none !important;
    }
}