*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background: linear-gradient(90deg, #000 0%, #b6b6b6 100%) !important;
    height: 100vh !important;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, #000 0%, #b6b6b6 100%) !important;
    border-radius: 10px;
}
